body {
    margin: 0;
    font-family: Arial;
    background: #f4f4f4;
}

h1 {
    padding: 15px;
    text-align: center;
    background: #2b7cff;
    color: white;
    margin: 0;
}

#map {
    width: 100%;
    height: calc(100vh - 60px);
}
